{% extends "base.html" %}
{% block title %}编辑物料{% endblock %}
{% block content %}
<h4>编辑物料 - {{ material.code }}</h4>
<form method="POST" class="row g-3">
    {{ form.hidden_tag() }}
    <div class="col-md-4">
        {{ form.name.label(class="form-label") }}{{ form.name(class="form-control") }}
    </div>
    <div class="col-md-4">
        {{ form.spec.label(class="form-label") }}{{ form.spec(class="form-control") }}
    </div>
    <div class="col-md-2">
        {{ form.unit.label(class="form-label") }}{{ form.unit(class="form-select") }}
    </div>
    <div class="col-md-3">
        {{ form.warehouse_type.label(class="form-label") }}{{ form.warehouse_type(class="form-select") }}
    </div>
    <div class="col-md-3">
        {{ form.category.label(class="form-label") }}{{ form.category(class="form-select") }}
    </div>
    <div class="col-md-2">
        {{ form.min_stock.label(class="form-label") }}{{ form.min_stock(class="form-control") }}
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">保存</button>
        <a href="{{ url_for('materials.index') }}" class="btn btn-secondary">返回</a>
    </div>
</form>
{% endblock %}
